<tr>
  <td>
    <% if conn_user.property.visible_to?(current_user) %>
      <%= link_to property_path(conn_user.property), class: 'btn-small btn-slim blue lighten-5 grey-text text-darken-3 waves-effect z-depth-1' do %>
        <%= conn_user.property.name %>
      <% end %>
    <% else %>
      <%= conn_user.property.name %>
    <% end %>
  </td>
  <td>
    <%= conn_user.relationship %>
  </td>
  <td>
    <%= human_date(conn_user.updated_at) %>
  </td>
  <td class='slim'>
    <%= link_to edit_connection_path(conn_user), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
