<%= form_for connection, html: { autocomplete: "nope" } do |f| %>
  <%= render 'form_errors', object: connection %>

  <div class="row">
    <input type="hidden" value="0" name="connection[archive]">
    <div class="col s12 m6 l3">
      <%= f.hidden_field :property_id %>
      <div class="input-field">
        <%= text_field_tag 'property_lkup', connection.property&.name, class: 'autocomplete-properties', autocomplete: "off" %>
        <label for="property_lkup">Property</label>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <%= f.hidden_field :user_id %>
      <div class="input-field">
        <%= text_field_tag 'user_lkup', connection.user&.name, class: 'autocomplete-users', autocomplete: "off" %>
        <label for="user_lkup">User</label>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="input-field" id="select_relationship">
        <%= f.select :relationship, Constant::Connection::RELATIONSHIPS, include_blank: true %>
        <label for="connection_relationship">Relationship</label>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="input-field">
        <p>
          <label>
            <input type="checkbox" name="connection[archive]" <%= 'checked' if connection.archived? %> <%= 'disabled' if connection.new_record? %>>
            <span>Archive</span>
          </label>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l3 stage_field">
      <div class="input-field">
        <%= f.select :stage, Constant::Connection::STAGES, include_blank: true %>
        <label for="connection_stage">Stage</label>
      </div>
    </div>
    <div class="col s12 m6 l3 stage_field">
      <div class="input-field">
        <%= f.text_field :stage_date, class: 'datepicker' %>
        <label for="connection_stage_date">Stage Date</label>
      </div>
    </div>
  </div>

  <div class="row center-align">
    <div class="col m6">
      <%= f.submit class: 'btn green' %>
    </div>
    <div class="col m6">
      <%= link_to 'Cancel', @return_path, class: 'btn red lighten-1', 'data-turbolinks'=> 'false' %>
    </div>
  </div>
<% end %>
