<div class="row valign-wrapper">
  <div class="col s10">
    <h1>Connections</h1>
  </div>
  <div class="col s2">
    <%= link_to new_connection_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2' do  %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs z-depth-1" name="connections">
      </li>
      <li class='tab'>
        <%= link_to 'Connections by Property', '#connection_prop', id: 'tab_connection_prop' %>
      </li>
      <li class='tab'>
        <%= link_to 'Connections by Person', '#connection_user', id: 'tab_connection_user' %>
      </li>
      <li class="tab">
        <%= link_to 'Occupancy by Property', '#occupancy_prop', id: 'tab_occupancy_prop' %>
      </li>
      <li class="tab">
        <%= link_to 'Occupancy by Client', '#occupancy_user', id: 'tab_occupancy_user' %>
      </li>
    </ul>
  </div>
</div>

<div class="row valign-wrapper">
  <div class="col s10 right-align">
    <p>Expand / Collapse all:</p>
  </div>
  <div class="col s2">
    <%= link_to '#', class: 'prevent_default btn-floating purple darken-1', id: 'collapse_all', name: 'expand' do %>
      <i class="material-icons up">swap_vert</i>
    <% end %>
  </div>
</div>

<div id="connection_prop" class="row section">
  <div class="col s12">
    <%= render partial: 'connection_property', collection: @connection_properties %>
  </div>
</div>

<div id="connection_user" class="row section">
  <%= render partial: 'connection_user', collection: @connection_users %>
</div>

<div id="occupancy_prop" class="row section">
  <%= render partial: 'occupancy_property', collection: @occupancy_properties %>
</div>

<div id="occupancy_user" class="row section">
  <%= render partial: 'occupancy_user', collection: @occupancy_users %>
</div>
