<tr class="payment-row">
  <td style="border: 1px solid gray; padding: 0 8px;">
    <%= human_date(payment.due) %>
  </td>
  <td style="border: 1px solid gray; padding: 0 8px;">
    <%= payment.to.name %>
  </td>
  <td style="border: 1px solid gray; padding: 0 8px;">
    <%= payment.for.name %>
  </td>
  <td style="border: 1px solid gray; padding: 0 8px;">
    <%= payment.utility_type&.capitalize %>
  </td>
  <td style="border: 1px solid gray; padding: 0 8px;">
    <%= payment.bill_amt.format %>
  </td>
  <td style="border: 1px solid gray; padding: 0 8px;">
    <%= human_boolean(payment.recurring) %>
  </td>
  <td style="border: 1px solid gray; padding: 0 8px;">
    <%= link_to 'View', payment_url(payment) %>
  </td>
</tr>
