<% tasks.each do |task| %>
  <tr>
    <td class="hide-on-small-only">
      <% if task.needs_more_info? %>
        <span class="btn-floating red lighten-2">
          <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Needs more info!">error_outline</i>
        </span>
      <% else %>
        &nbsp;
      <% end %>
    </td>
    <td class="center-align">
      <% if task.priority.present? %>
        <span class="new badge <%= task.priority_color %> white-text" data-badge-caption="">
          <%= Constant::Task::PRIORITY[task.priority] %>
        </span>
      <% else %>
        <p class="small-text">not set</p>
      <% end %>
    </td>
    <td class="truncate">
      <%= task.title %>
    </td>
    <td>
      <% if current_user.staff? %>
        <%= link_to user_path(task.owner), class: 'btn-small btn-slim blue lighten-5 grey-text text-darken-3 waves-effect z-depth-1' do %>
          <%= task.owner.name %>
        <% end %>
      <% else %>
        <%= task.owner.name %>
      <% end %>
    </td>
    <% unless controller_name == 'properties' %>
      <td>
        <% if task.property.visible_to?(current_user) %>
          <%= link_to property_path(task.property), class: 'btn-small btn-slim blue lighten-5 grey-text text-darken-3 waves-effect z-depth-1' do %>
            <%= task.property.name %>
          <% end %>
        <% else %>
          <%= task.property.name %>
        <% end %>
      </td>
    <% end %>
    <td class="center-align">
      <% if task.past_due? %>
        <span class="new badge red lighten-2 white-text" data-badge-caption="">
          <%= human_date(task.due) || 'not set' %>
        </span>
      <% elsif task.due.present? %>
        <span class="new badge green lighten-2 white-text" data-badge-caption="">
          <%= human_date(task.due) %>
        </span>
      <% else %>
        <span class="small-text">
          not set
        </span>
      <% end %>
    </td>
    <% if controller_name == 'properties' %>
      <td class="center-align">
        <%= task.budget&.format || '<span class="small-text">not set</span>'.html_safe %>
      </td>
      <td class="center-align">
        <%= task.cost&.format || '<span class="small-text">not set</span>'.html_safe %>
      </td>
    <% end %>
    <% unless controller.action_name == 'tasks_finder' %>
      <td class="slim">
        <p>
          <label>
            <input type="checkbox" class="filled-in complete_bool" <%= 'checked' if task.complete? %>>
            <span class="complete_span">&nbsp;</span>
            <span class="task_id">
              <%= task.id %>
            </span>
          </label>
        </p>
      </td>
    <% end %>
    <td class="slim">
      <%= link_to task_path(task), class: 'btn-floating btn-small green' do  %>
        <i class="material-icons">arrow_forward</i>
      <% end %>
    </td>
    <td class="slim">
      <%= link_to edit_task_path(task), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do  %>
        <i class="material-icons">edit</i>
      <% end %>
    </td>
  </tr>
<% end %>
