<tr>
  <td>
    <% if tasks_table.needs_more_info? %>
      <span class="btn-floating btn-small red lighten-2">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Needs more info!">error_outline</i>
      </span>
    <% else %>
      &nbsp;
    <% end %>
  </td>
  <td class="center-align">
    <% if tasks_table.priority.present? %>
      <span class="new badge <%= tasks_table.priority_color %> white-text" data-badge-caption="">
        <%= Constant::Task::PRIORITY[tasks_table.priority] %>
      </span>
    <% else %>
      <p class="small-text">not set</p>
    <% end %>
  </td>
  <td class="truncate">
    <%= tasks_table.snipped_title(30) %>
  </td>
  <td>
    <% if current_user.staff? %>
      <%= link_to tasks_table.owner.name, user_path(tasks_table.owner) %>
    <% else %>
      <%= tasks_table.owner.name %>
    <% end %>
  </td>
  <% unless controller_name == 'properties' %>
    <td>
      <% if tasks_table.property.visible_to?(current_user) %>
        <%= link_to tasks_table.property.name, property_path(tasks_table.property) %>
      <% else %>
        <%= tasks_table.property.name %>
      <% end %>
    </td>
  <% end %>
  <td class="center-align">
    <% if tasks_table.past_due? %>
      <span class="new badge red lighten-2 white-text" data-badge-caption="">
        <%= human_date(tasks_table.due) || 'not set' %>
      </span>
    <% elsif tasks_table.due.present? %>
      <span class="new badge green lighten-2 white-text" data-badge-caption="">
        <%= human_date(tasks_table.due) %>
      </span>
    <% else %>
      <span class="small-text">
        not set
      </span>
    <% end %>
  </td>
  <% if controller_name == 'properties' %>
    <td class="center-align">
      <%= tasks_table.budget.present? ? humanized_money_with_symbol(tasks_table.budget) : '<span class="small-text">not set</span>'.html_safe %>
    </td>
    <td class="center-align">
      <%= tasks_table.cost.present? ? humanized_money_with_symbol(tasks_table.cost) : '<span class="small-text">not set</span>'.html_safe %>
    </td>
  <% end %>
  <% unless controller.action_name == 'tasks_finder' %>
    <td class="slim">
      <p>
        <% if tasks_table.active? && tasks_table.budget_cents.present? && tasks_table.cost_cents.blank? %>
          <span class="small-text">needs cost</span>
        <% else %>
          <label>
            <input type="checkbox" class="filled-in complete_bool" <%= 'checked' if tasks_table.complete? %>>
            <span class="complete_span">&nbsp;</span>
            <span class="task_id">
              <%= tasks_table.id %>
            </span>
          </label>
        <% end %>
      </p>
    </td>
  <% end %>
  <td class="slim">
    <%= link_to task_path(tasks_table), class: 'btn-floating btn-small green' do  %>
      <i class="material-icons">arrow_forward</i>
    <% end %>
  </td>
  <td class="slim">
    <%= link_to edit_task_path(tasks_table), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do  %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
