<% tasks.each do |task| %>
  <tr>
    <td>
      <%= task.title %>
    </td>
    <td>
      <%= task.owner.name %>
    </td>
    <td>
      <%= task.priority || 'not set' %>
    </td>
    <td>
      <%= task.due || 'not set' %>
    </td>
    <td>
      <%= task.budget.present? ?  task.budget.format : Money.new(0).format %>
    </td>
    <td>
      <%= task.cost.present? ? task.cost.format : Money.new(0).format %>
    </td>
    <td>
      <%= human_boolean(task.needs_more_info) %>
    </td>
    <td>
      <p>
        <label>
          <input type="checkbox" class="filled-in complete_bool">
          <span class="complete_span">&nbsp;</span>
          <span class="task_id">
            <%= task.id %>
          </span>
        </label>
      </p>
    </td>
    <td>
      <%= link_to edit_task_path(task), class: 'btn-floating btn-small blue darken-2' do  %>
        <i class="material-icons">edit</i>
      <% end %>
    </td>
  </tr>
<% end %>
