<div class="row valign-wrapper">
  <div class="col s10">
    <h1>Tasks</h1>
  </div>
  <div class="col s2">
    <%= link_to new_task_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2', 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<div class="row fat">
  <div class="col s12">
    <ul class="tabs z-depth-1" name="tasks">
      <% if @show_new %>
        <li class="tab">
          <%= link_to 'New', '#', id: 'tasks_new', class: 'dttb-ajax-link', data: { filter: 'new'} %>
        </li>
      <% end %>
      <li class="tab">
        <%= link_to 'Active', '#', id: 'tasks_active', class: 'active dttb-ajax-link', data: { filter: 'active' } %>
      </li>
      <li class="tab">
        <%= link_to 'Past Due', '#', id: 'tasks_past-due', class: 'dttb-ajax-link', data: { filter: 'past-due' } %>
      </li>
      <li class="tab">
        <%= link_to 'Due in 7', '#', id: 'tasks_due-7', class: 'dttb-ajax-link', data: { filter: 'due-7' } %>
      </li>
      <li class="tab">
        <%= link_to 'Due in 14', tasks_path(filter: 'due-14'), id: 'tasks_due-14', class: 'dttb-ajax-link', data: { filter: 'due-14' } %>
      </li>
      <li class="tab">
        <%= link_to 'Completed', tasks_path(filter: 'completed'), id: 'tasks_completed', class: 'dttb-ajax-link', data: { filter: 'completed' } %>
      </li>
      <li class="tab">
        <%= link_to 'Missing Info', tasks_path(filter: 'missing-info'), id: 'tasks_missing-info', class: 'dttb-ajax-link', data: { filter: 'missing-info' } %>
      </li>
      <% if current_user.admin? %>
        <li class="tab">
          <%= link_to 'Archived', tasks_path(filter: 'archived'), id: 'tasks_archived', class: 'dttb-ajax-link', data: { filter: 'archived' } %>
        </li>
        <li class="tab">
          <%= link_to 'All', tasks_path(filter: 'all'), id: 'tasks_all', class: 'dttb-ajax-link', data: { filter: 'all'} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row fat">
  <table class='highlight' id='task_table'>
    <thead>
      <%= render partial: 'tasks_table_header' %>
    </thead>
    <tbody id='task_table_body'>
      <%= render partial: 'tasks_table_body' %>
    </tbody>
  </table>
</div>

<% if @tasks.empty? %>
  <%= render partial: 'admin_contact' %>
<% end %>
