<div class="row valign-wrapper">
  <div class="col s10">
    <h1>Tasks</h1>
  </div>
  <div class="col s2">
    <%= link_to new_task_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2', 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs z-depth-1" name="tasks">
      <% if @show_new %>
        <li class="tab">
          <%= link_to 'New', tasks_path(filter: 'new'), id: 'tasks_new', remote: true %>
        </li>
      <% end %>
      <li class="tab">
        <%= link_to 'Active', tasks_path(filter: 'active'), id: 'tasks_active', class: 'active', remote: true %>
      </li>
      <li class="tab">
        <%= link_to 'Past Due', tasks_path(filter: 'past-due'), id: 'tasks_past-due', remote: true %>
      </li>
      <li class="tab">
        <%= link_to 'Due in 7', tasks_path(filter: 'due-7'), id: 'tasks_due-7', remote: true %>
      </li>
      <li class="tab">
        <%= link_to 'Due in 14', tasks_path(filter: 'due-14'), id: 'tasks_due-14', remote: true %>
      </li>
      <li class="tab">
        <%= link_to 'Completed', tasks_path(filter: 'completed'), id: 'tasks_completed', remote: true %>
      </li>
      <li class="tab">
        <%= link_to 'Missing Info', tasks_path(filter: 'missing-info'), id: 'tasks_missing-info', remote: true %>
      </li>
      <% if current_user.admin? %>
        <li class="tab">
          <%= link_to 'Archived', tasks_path(filter: 'archived'), id: 'tasks_archived', remote: true %>
        </li>
        <li class="tab">
          <%= link_to 'All', tasks_path(filter: 'all'), id: 'tasks_all', remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row fat">
  <table class='highlight' id='dttb1-task_table'>
    <thead>
      <%= render partial: 'tasks_table_header' %>
    </thead>
    <tbody id='task_table_body'>
      <% if @tasks.count.positive? %>
        <%= render partial: 'tasks_table', locals: { tasks: @tasks } %>
      <% else %>
        <tr>
          <td colspan="8" class="center-align">
            No tasks
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @tasks.empty? %>
  <%= render partial: 'admin_contact' %>
<% end %>
