<div class="row valign-wrapper">
  <div class="col s10">
    <h1>Tasks</h1>
  </div>
  <div class="col s2">
    <%= link_to new_task_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<div class="row center-align">
  <ul class="pagination" id="tasks_pagination" name="tasks">
    <% if @show_new %>
      <li class="waves-effect">
        <%= link_to 'New', tasks_path(filter: 'new'), id: 'tasks_new', class: 'paginate_btn', remote: true %>
      </li>
    <% end %>
    <li class="waves-effect active purple">
      <%= link_to 'Active', tasks_path(filter: 'active'), id: 'tasks_active', class: 'paginate_btn', remote: true %>
    </li>
    <li class="waves-effect">
      <%= link_to 'Past Due', tasks_path(filter: 'past-due'), id: 'tasks_past-due', class: 'paginate_btn', remote: true %>
    </li>
    <li class="waves-effect">
      <%= link_to 'Due in 7', tasks_path(filter: 'due-7'), id: 'tasks_due-7', class: 'paginate_btn', remote: true %>
    </li>
    <li class="waves-effect">
      <%= link_to 'Due in 14', tasks_path(filter: 'due-14'), id: 'tasks_due-14', class: 'paginate_btn', remote: true %>
    </li>
    <li class="waves-effect">
      <%= link_to 'Completed', tasks_path(filter: 'completed'), id: 'tasks_completed', class: 'paginate_btn', remote: true %>
    </li>
    <li class="waves-effect">
      <%= link_to 'All', tasks_path(filter: 'all'), id: 'tasks_all', class: 'paginate_btn', remote: true %>
    </li>
    <li class="waves-effect">
      <%= link_to 'Archived', tasks_path(filter: 'archived'), id: 'tasks_archived', class: 'paginate_btn', remote: true %>
    </li>
    <li class="waves-effect">
      <%= link_to 'Missing Info', tasks_path(filter: 'missing-info'), id: 'tasks_missing-info', class: 'paginate_btn', remote: true %>
    </li>
  </ul>
</div>

<div class="row">
  <table class='highlight responsive-table' id='task_table'>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Assigned to</th>
        <th>Property</th>
        <th class="center-align">Due</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id='task_table_body'>
      <% if @tasks.count.positive? %>
        <%= render partial: 'tasks_table', locals: { tasks: @tasks } %>
      <% else %>
        <tr>
          <td colspan="8" class="center-align">
            No tasks
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
