<div class="row center-align">
  <div class="hide-on-small-only">
    <%= render @task.property %>
  </div>
  <div class="col s12 m6 l8">
    <div class="row valign-wrapper">
      <div class="col s10">
        <h4><%= @task.title %></h4>
      </div>
      <div class="col s2">
        <%= link_to edit_task_path(@task), class: 'btn-floating waves-effect waves-light blue darken-2', 'data-turbolinks'=> 'false' do  %>
          <i class="material-icons">edit</i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l8">
    <table class="striped">
      <tbody>
        <% @primary_info_hash.each do |k,v| %>
          <%= render partial: 'info_table', locals: { k: k, v: v } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @task.needs_more_info? && !@task.on_default? %>
  <div class="row section center-align">
    <div class="col s12">
      <%= link_to edit_task_path(@task), class: 'grey-text text-darken-4 btn-large red lighten-2 waves-effect waves-light', 'data-turbolinks'=> 'false' do %>
        <i class="material-icons right">edit</i>
        This task needs more detail
      <% end %>
    </div>
  </div>
<% end %>

<% if @task.notes.present? %>
  <div class="row section">
    <div class="col s12">
      <h5>Notes:</h5>
    </div>
    <div class="col s12">
      <%= @task.notes %>
    </div>
  </div>
<% end %>

<% unless @task.on_default? %>
  <div class="row valign-wrapper">
    <div class="col s10">
      <h5>Skills needed:</h5>
    </div>
    <div class="col s2">
      <%= link_to skills_task_path(@task), class: 'btn-floating btn-small blue darken-2' do  %>
        <i class="material-icons">edit</i>
      <% end %>
    </div>
  </div>
  <div class="row section z-depth-1">
    <div class="col s12">
      <% if @skills.any? %>
        <% @skills.each do |skill| %>
          <div class="chip">
            <%= skill.name %>
          </div>
        <% end %>
      <% else %>
        <div class="center-align"><i>none recorded</i></div>
      <% end %>
    </div>
  </div>

  <% if @skills.any? && @user_finder_count.positive? %>
    <div class="row">
      <div class="col s12">
        <%= link_to users_finder_task_path(@task), class: 'btn green waves-effect waves-light right' do %>
          <span>See people with matching skills</span>
          <i class="material-icons right">arrow_forward</i>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row section">
    <div class="col s12">
      <h5>Relations:</h5>
    </div>
    <div class="col s12">
      <table class="striped">
        <tbody>
          <tr>
            <td>Assigned to:</td>
            <td>
              <% if current_user.staff? %>
                <%= link_to user_path(@task.owner), class: 'waves-effect btn-flat' do %>
                  <i class="material-icons left">visibility</i>
                  <%= @task.owner.name %>
                <% end %>
              <% else %>
                <%= @task.owner.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Created by:</td>
            <td>
              <% if current_user.staff? %>
                <%= link_to user_path(@task.creator), class: 'waves-effect btn-flat' do %>
                  <i class="material-icons left">visibility</i>
                  <%= @task.creator.name %>
                <% end %>
              <% else %>
               <%= @task.creator.name %>
              <% end %>
            </td>
          </tr>
          <% if @task.subject.present? %>
            <tr>
              <td>Regarding:</td>
              <td>
                <% if current_user.staff? %>
                  <%= link_to user_path(@task.subject), class: 'waves-effect waves-light btn-flat' do %>
                    <i class="material-icons left">visibility</i>
                    <%= @task.subject.name %>
                  <% end %>
                <% else %>
                 <%= @task.subject.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="section">
  <div class="row">
    <div class="col s12">
      <h5>More info:</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <table class="striped">
        <tbody>
          <% @secondary_info_hash.each do |k,v| %>
            <%= render partial: 'info_table', locals: { k: k, v: v } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
