<%= form_for user do |f| %>
  <%= render 'form_errors', object: user %>

  <div class="row form-inputs">
    <div class="input-field col s12">
      <i class="material-icons prefix">face</i>
      <% if user.oauth? %>
        <%= f.text_field :name, disabled: true %>
      <% else %>
        <%= f.text_field :name %>
        <label for="user_name">Name</label>
      <% end %>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">alternate_email</i>
      <% if user.oauth? %>
        <%= f.text_field :email, disabled: true %>
        <div class="row center-align">
          <i>Your name, email, and password are linked to your Google account</i>
        </div>
      <% else %>
        <%= f.text_field :email %>
        <label for="user_email">email@example.com</label>
      <% end %>
    </div>
  </div>

  <% unless user.oauth? %>
    <div class="row form-inputs">
      <div class="input-field col m6">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.password_field :password %>
        <label for="user_password">password</label>
        <% unless user.new_record? %>
          <i class="small-text">Leave blank to keep it as-is</i>
        <% end %>
      </div>
      <div class="input-field col m6">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.password_field :password_confirmation %>
        <label for="user_password_confirmation">password again</label>
      </div>
    </div>
  <% end %>

  <div class="row form-inputs">
    <div class="input-field col m6">
      <i class="material-icons prefix">phone</i>
      <%= f.phone_field :phone %>
      <label for="user_phone">Phone</label>
    </div>
    <div class="input-field col m6">
      <i class="material-icons prefix">feedback</i>
      <%= f.text_field :title %>
      <label for="user_title">Title <i>(optional)</i></label>
    </div>
  </div>

  <% if current_user&.staff? %>
    <% unless user.oauth? %>
      <div class="input-field <%= 'field_with_errors' if user.errors[:register_as].present? %>">
        <i class="material-icons prefix">account_box</i>
        <select name="user[register_as]" id="user_register_as" class="required" required="required" aria-required="true">
          <option value="0" disabled selected>Type...</option>
          <option value="Volunteer">Volunteer</option>
          <option value="Contractor">Contractor</option>
          <option value="Client">Client</option>
        </select>
        <label for="user_register_as">Account type</label>
      </div>
    <% end %>
  <% end %>

  <div class="row input-field scale-transition <%= @hide_rate %>" id="rate_div">
    <%= f.number_field :rate %>
    <label for="user_rate">Contractor hourly rate</label>
  </div>

  <% if current_user&.admin? && current_user == user %>
    <div class="row center-align">
      <i>You are a system administrator. You can't disabled your own account or downgrade your own status.</i>
    </div>
  <% end %>
  <% if current_user&.admin? && current_user != user %>
    <div class="row center-align form-inputs">
      <input type="hidden" value="0" name="user[admin]">
      <input type="hidden" value="0" name="user[archive]">
      <div class="col s6">
        <p>
          <label>
            <input type="checkbox" value="1" name="user[admin]" <%= 'checked' if user.admin? %>>
            <span>Admin Priviledges</span>
          </label>
        </p>
      </div>
      <div class="col s6">
        <p>
          <label>
            <input type="checkbox" value="1" name="user[archive]" <%= 'checked' if user.discarded? %> <%= 'disabled' if user.new_record? %>>
            <span>Archive User</span>
          </label>
        </p>
      </div>
    </div>
  <% end %>

  <div class="row center-align form-actions">
    <div class="col m6">
      <%= f.submit class: 'btn green' %>
    </div>
    <div class="col m6">
      <%= link_to 'Cancel', @return_path, class: 'btn red lighten-1' %>
    </div>
  </div>
<% end %>
