<tr>
  <td>
    <% if occupancy.property.can_be_viewed_by?(current_user) %>
      <%= link_to property_path(occupancy.property), class: 'btn-small btn-slim blue lighten-5 grey-text text-darken-3 waves-effect z-depth-1' do %>
        <%= occupancy.property.name %>
      <% end %>
    <% else %>
      <%= occupancy.property.name %>
    <% end %>
  </td>
  <td>
    <%= occupancy.stage %>
  </td>
  <td>
    <%= human_date(occupancy.stage_date) %>
  </td>
  <td class='slim'>
    <%= link_to edit_connection_path(occupancy), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
