<tr>
  <td class='table-profile-pic slim'>
    <%= link_to user_table do  %>
      <% if user_table.oauth_image_link.present? %>
        <%= image_tag user_table.oauth_image_link, alt: 'Profile pic', class: 'circle' %>
      <% else %>
        <i class="material-icons no-pic">account_circle</i>
      <% end %>
    <% end %>
  </td>
  <td class='slim'>
    <% if user_table.admin? %>
      <i class="material-icons tooltipped" data-position="left" data-tooltip="System Administrator">verified_user</i>
    <% end %>
  </td>
  <td><%= user_table.name %></td>
  <td><%= user_table.readable_type %></td>
  <td class='slim'>
    <%= link_to user_table, class: 'btn-floating btn-small green' do %>
      <i class="material-icons">arrow_forward</i>
    <% end %>
  </td>
  <td class='slim'>
    <%= link_to edit_user_path(user_table), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
