<div class="row">
  <div class="col s12">
    <h4>Skills for <%= @user.name %></h4>
  </div>
</div>
<%= form_tag update_skills_user_path(@user) do %>
  <table class="striped">
    <tbody>
      <% @skills.each do |skill| %>
        <tr>
          <td>
            <%= skill.name %>
          </td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox" class="lever_input" id="<%= skill.id %>" <%= 'checked' if @user.skills.include? skill %>>
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= hidden_field_tag 'user[add_skills]', nil, id: 'add' %>
  <%= hidden_field_tag 'user[remove_skills]', nil, id: 'remove' %>
  <div class="row center-align section">
    <div class="col m6">
      <%= submit_tag 'Save skills', class: 'btn green' %>
    </div>
    <div class="col m6">
      <%= link_to 'Cancel', @return_path, class: 'btn red lighten-1' %>
    </div>
  </div>
<% end %>
