<div class="row">
  <h4>Tasks that match <%= current_user == @user ? 'your' : @user.fname + "'s" %> skills</h4>
</div>

<div class="row section z-depth-1">
  <div class="col s10 m11">
    <% @user.skills.each do |skill| %>
      <div class="chip">
        <%= skill.name %>
      </div>
    <% end %>
  </div>
  <div class="col s2 m1">
    <%= link_to skills_user_path(@user), class: 'btn-floating btn-small blue darken-2' do  %>
      <i class="material-icons">edit</i>
    <% end %>
  </div>
</div>

<table class='highlight responsive-table' id='task_table'>
  <thead>
    <%= render partial: 'tasks/tasks_table_header' %>
  </thead>
  <tbody id='task_table_body'>
    <% if @tasks.count.positive? %>
      <%= render partial: 'tasks/tasks_table', locals: { tasks: @tasks } %>
    <% else %>
      <tr>
        <td colspan="8" class="center-align">
          No tasks
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
