<tr>
  <td>
    <% if current_user.staff? %>
      <%= link_to connection.user.name, connection.user %>
    <% else %>
      <%= connection.user.name %>
    <% end %>
  </td>
  <td>
    <%= connection.relationship.capitalize %>
  </td>
  <td>
    <%= human_date(connection.updated_at) %>
  </td>
  <td class='slim'>
    <%= link_to edit_connection_path(connection), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
