<tr>
  <td>
    <% if current_user.staff? %>
      <%= link_to occupancy.user.name, occupancy.user %>
    <% else %>
      <%= occupancy.user.name %>
    <% end %>
  </td>
  <td>
    <%= occupancy.stage.capitalize %>
  </td>
  <td>
    <%= human_date(occupancy.stage_date) %>
  </td>
  <td class='slim'>
    <%= link_to edit_connection_path(occupancy), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
