<div class="col s12 m6 l4 property">
  <% if property.over_budget? %>
    <div class="card red darken-3 z-depth-3">
  <% else %>
    <div class="card amber z-depth-3">
  <% end %>
    <div class="card-image">
      <% if property.is_default? %>
        <%= image_tag "default_tasklist.jpg", alt: "default tasklist", class: 'default-map' %>
      <% else %>
        <%= image_tag property.google_map, alt: "property map", class: 'street-map' %>
      <% end %>
      <% unless property.is_default? %>
        <% if params[:action] == 'index' || params[:controller] == 'tasks' %>
          <%= link_to property_path(property), class: 'btn-floating halfway-fab waves-effect waves-light green', 'data-turbolinks'=> 'false', id: 'show_property_link' do  %>
            <i class="material-icons">arrow_forward</i>
          <% end %>
        <% else %>
          <%= link_to edit_property_path(property), class: 'btn-floating halfway-fab waves-effect waves-light blue darken-2', 'data-turbolinks'=> 'false', id: 'edit_property_link' do  %>
            <i class="material-icons">edit</i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if property.over_budget? %>
      <div class="card-content white-text">
    <% else %>
      <div class="card-content grey-text text-darken-4">
    <% end %>
      <span class="card-title"><%= property.name %></span>
      <p class="small-text">
        <% if property.is_default? %>
          <%= property.tasks.in_process.count %> tasks in process.
          <br>
          <%= property.tasks.complete.count %> tasks complete.
          <br>
        <% else %>
          Status: <%= property.stage %><br>
          <%= property.tasks.in_process.visible_to(current_user).count %> tasks related to you.<br>
        <% end %>
        <% unless property.is_default? %>
          Budget remaining: <%= humanized_money_with_symbol property.budget_remaining %>
        <% end %>
      </p>
    </div>
  </div>
</div>
