<tr>
  <td class="hide-on-small-only">
    <% if properties.needs_title? %>
      <span class="btn-floating btn-small red lighten-2">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Missing title!">error_outline</i>
      </span>
    <% end %>
  </td>
  <td><%= properties.name %></td>
  <td class="input-field stage-div">
    <%= select_tag 'stage_' + properties.id.to_s, options_for_select(Constant::Property::STAGES, properties.stage), { class: 'stage-select browser-default', 'data-finder': properties.id } %>
  </td>
  <td><%= properties.occupancy_status %></td>
  <% if properties.budget_remaining.negative? %>
    <td class='red-text text-darken-3'>
      <%= humanized_money_with_symbol properties.budget_remaining %>
    </td>
  <% else %>
    <td><%= humanized_money_with_symbol properties.budget_remaining %></td>
  <% end %>
  <td><%= properties.tasks.in_process.count %></td>
  <td><%= properties.tasks.in_process.related_to(current_user).count %></td>
  <td class="slim center">
    <% if properties.good_address? %>
      <%= link_to properties.google_map_link, class: 'btn-floating btn-small amber darken-2', target: '_blank' do %>
        <i class="material-icons">map</i>
      <% end %>
    <% end %>
  </td>
  <td class="slim">
    <%= link_to property_path(properties), class: 'btn-floating btn-small green', 'data-turbolinks'=> 'false' do  %>
      <i class="material-icons">arrow_forward</i>
    <% end %>
  </td>
  <td class="slim">
    <%= link_to edit_property_path(properties), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false', target: "_blank" do  %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
