<%= link_to property_path(property) do %>
  <div class="col s12 m4">
    <div class="card amber z-depth-3">
      <div class="card-image">
        <% if property.is_default? %>
          <%= image_tag "default_tasklist.jpg", alt: "default tasklist" %>
        <% else %>
          <%= image_tag property.google_street_view, alt: "property street view" %>
        <% end %>
        <%= link_to property_path(property), class: 'btn-floating halfway-fab btn-large waves-effect waves-light green' do  %>
          <i class="material-icons">arrow_forward</i>
        <% end %>
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4"><%= property.name %></span>

        <p class='grey-text text-darken-4'>
          <%= property.tasks.visible_to(current_user).count %> tasks related to you.<br>
          <% unless property.is_default? %>
            Budget remaining: <%= property.budget_remaining %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
