<div class="row valign-wrapper">
  <div class="col s8">
    <h2>Properties</h2>
  </div>
  <div class="col s2">
    <%= link_to properties_path, class: 'btn-floating waves-effect waves-light blue darken-2' do %>
      <i class="material-icons">apps</i>
    <% end %>
  </div>
  <div class="col s2">
    <%= link_to new_property_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<div class="row center-align">
  Filter by:
  <div class="switch">
    <label>
      Tasks
      <input type="checkbox" id="tab_switch">
      <span class="lever"></span>
      Status
    </label>
  </div>
</div>

<div class="row center-align no-bottom-margin">
  <ul class="tabs z-depth-1" id="properties_tasks">
    <% if @show_new %>
      <li class="tab">
        <%= link_to 'New', list_properties_path(filter: 'new'), id: 'properties_new' %>
      </li>
    <% end %>
    <li class="tab">
      <%= link_to 'Yours', list_properties_path(filter: 'yours'), id: 'properties_yours', class: 'active', remote: true  %>
    </li>
    <li class="tab">
      <%= link_to 'Have Your Tasks', list_properties_path(filter: 'tasks'), id: 'properties_tasks', remote: true  %>
    </li>
    <li class="tab">
      <%= link_to 'Over budget', list_properties_path(filter: 'over'), id: 'properties_over', remote: true  %>
    </li>
    <li class="tab">
      <%= link_to 'Nearing budget', list_properties_path(filter: 'near'), id: 'properties_near', remote: true  %>
    </li>
    <li class="tab">
      <%= link_to 'Missing title', list_properties_path(filter: 'title'), id: 'properties_title', remote: true  %>
    </li>
    <% if current_user.system_admin? %>
      <li class="tab">
        <%= link_to 'All', list_properties_path(filter: 'admin'), id: 'properties_admin', remote: true  %>
      </li>
    <% elsif current_user.staff? %>
      <li class="tab">
        <%= link_to 'All', list_properties_path(filter: 'all'), id: 'properties_all', remote: true  %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row center-align no-bottom-margin">
  <ul class="tabs z-depth-1" id="properties_status">
    <li class="tab">
      <%= link_to 'All', list_properties_path(filter: 'yours'), id: 'properties_all', remote: true  %>
    </li>
    <li class="tab">
      <%= link_to 'Vacant', list_properties_path(filter: 'vacant'), id: 'properties_vacant', remote: true  %>
    </li>
    <li class="tab">
      <%= link_to 'Pending', list_properties_path(filter: 'pending'), id: 'properties_pending', remote: true  %>
    </li>
    <li class="tab">
      <%= link_to 'Approved', list_properties_path(filter: 'approved'), id: 'properties_approved', remote: true  %>
    </li>
    <li class="tab">
      <%= link_to 'Occupied', list_properties_path(filter: 'occupied'), id: 'properties_occupied', remote: true  %>
    </li>
  </ul>
</div>

<div class="row extra-top-margin">
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <th class="hide-on-small-only"></th>
        <th>Name</th>
        <th>Occupancy</th>
        <th>$ Remaining</th>
        <th>Total Tasks</th>
        <th>Tasks for you</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="property_table_body">
      <%= render partial: 'properties', collection: @properties %>
    </tbody>
  </table>
</div>

<% if @properties.empty? %>
  <%= render partial: '_admin_contact' %>
<% end %>
