<div class="row center-align">
  <%= render @property %>
  <div class="col s12 m6 l8">
    <table class="striped">
      <tbody>
        <% @primary_info_hash.each do |k,v| %>
          <%= render partial: 'info_table', locals: { k: k, v: v } %>
        <% end %>
        <tr>
          <td>
            <strong>Visibility:</strong>
            <% unless @property.is_default? %>
              <a href="#private_explanation" class="modal-trigger">
                <i class="material-icons">live_help</i>
              </a>
            <% end %>
          </td>
          <td>
            <%= @property.is_private? ? 'Private' : 'Public' %>
          </td>
        </tr>
        <% unless @property.is_default? %>
          <tr>
            <td>
              <strong>Ignore budget</strong>
              <a href="#budget_warning_explanation" class="modal-trigger">
                <i class="material-icons">live_help</i>
              </a>
            </td>
            <td>
              <%= human_boolean(@property.ignore_budget_warning) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col s12 m6 l8 left-align">
    <p>In Google Tasks, there is always a default tasklist. This system imports your default tasklists and associated tasks as a convenience.
    <br>
    Due to privacy concerns, tasks on your default tasklists cannot be made visible to anyone beyond the task's creator and owner.
    <br>
    Visiblity settings for default tasklist tasks will be ignored.
    <br>
    Move tasks to a property to make them visible to others.</p>
  </div>
</div>

<div class="row section">
  <div class="col s12">
    <% if @property.description.present? %>
      <div class="row">
        <div class="col s12">
          <h5>Description</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <%= @property.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row section">
  <div class="col s12">
    <div class="row valign-wrapper">
      <div class="col s12 m10">
          <h4>Tasks</h4>
      </div>
      <div class="col s12 m2">
        <%= link_to new_task_path(property: @property), class: 'btn waves-effect waves-light green darken-2', 'data-turbolinks'=> 'false', id: 'new_task_link' do %>
          <i class="material-icons">add</i>
          <i class="material-icons">check_circle_outline</i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <ul class="tabs z-depth-1" name="tasks">
          <% if @show_new %>
            <li class="tab">
              <%= link_to 'New', tasks_filter_property_path(@property, tasks: 'new'), id: 'tasks_your', remote: true %>
            </li>
          <% end %>
          <li class="tab">
            <%= link_to 'Active', tasks_filter_property_path(@property, tasks: 'active'), id: 'tasks_your', class: 'active', remote: true %>
          </li>
          <li class="tab">
            <%= link_to 'Completed', tasks_filter_property_path(@property, tasks: 'completed'), id: 'tasks_completed', remote: true %>
          </li>
          <% if current_user.admin? %>
            <li class="tab">
              <%= link_to 'All', tasks_filter_property_path(@property, tasks: 'all'), id: 'tasks_all', remote: true %>
            </li>
            <li class="tab">
              <%= link_to 'Archived', tasks_filter_property_path(@property, tasks: 'archived'), id: 'tasks_archived', remote: true %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row fat">
      <table class='highlight' id='dttb2-task_table'>
        <thead>
          <%= render partial: 'tasks/tasks_table_header' %>
        </thead>
        <tbody id='task_table_body'>
          <%= render partial: 'tasks/tasks_table', locals: { tasks: @tasks } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% unless @property.is_default? %>
  <div class="row section">
    <div class="col s12">
      <div class="row valign-wrapper">
        <div class="col s12 m10">
          <h4>Occupancies</h4>
        </div>
        <div class="col s12 m2">
          <%= link_to new_connection_path(property: @property, relationship: 'tennant'), class: 'btn waves-effect waves-light green darken 2', 'data-turbolinks'=> 'false' do %>
            <i class="material-icons">add</i>
            <i class="material-icons">how_to_reg</i>
          <% end %>
        </div>
      </div>

      <div class="row center-align">
        <% if @occupancies.any? %>
          <table class='highlight' id="dttb_simple-occupancy_table">
            <thead>
              <tr>
                <th>Person</th>
                <th>Stage</th>
                <th>Stage Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'occupancy', collection: @occupancies %>
            </tbody>
          </table>
        <% else %>
          <p>No occupancy history</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row section">
    <div class="col s12">
      <div class="row valign-wrapper">
        <div class="col s12 m10">
          <h4>Connections</h4>
        </div>
        <div class="col s12 m2">
          <%= link_to new_connection_path(property: @property), class: 'btn waves-effect waves-light green darken 2', 'data-turbolinks'=> 'false' do %>
            <i class="material-icons">add</i>
            <i class="material-icons">how_to_reg</i>
          <% end %>
        </div>
      </div>

      <div class="row center-align">
        <% if @connections.any? %>
          <table class='highlight' id="dttb_simple-connections_table">
            <thead>
              <tr>
                <th>Person</th>
                <th>Relationship</th>
                <th>Relation date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'connection', collection: @connections %>
            </tbody>
          </table>
        <% else %>
          <p>No connections</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row section">
    <div class="col s12">
      <div class="row valign-wrapper">
        <div class="col s12 m8">
          <h4>Payments</h4>
        </div>
        <div class="col s12 m2">
          <%= link_to new_payment_path(property: @property, park: @property.park || 'yes', payment: @property.lot_rent, type: 'rent'), class: 'btn waves-effect waves-light green darken-2', 'data-turbolinks'=> 'false' do %>
            <span>pay rent</span>
          <% end %>
        </div>
        <div class="col s12 m2">
          <%= link_to new_payment_path(property: @property), class: 'btn waves-effect waves-light green darken-2', 'data-turbolinks'=> 'false' do %>
            <i class="material-icons">add</i>
            <i class="material-icons">attach_money</i>
          <% end %>
        </div>
      </div>

      <div class="row center-align fat">
        <% if @payments.any? %>
          <table class='highlight responsive-table' id="dttb1-payments_table">
            <thead>
              <%= render partial: 'payments_table_head', locals: { source: 'Property' } %>
            </thead>
            <tbody>
              <%= render partial: 'payments_table', collection: @payments, locals: { source: 'Property' } %>
            </tbody>
          </table>
        <% else %>
          <p class="center">No payment history</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4>Money:</h4>
      </div>
    </div>
    <div class="row">
      <table class="striped">
        <% @money_hash.each do |k,v| %>
          <%= render partial: 'info_table', locals: { k: k, v: v } %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4>More info:</h4>
      </div>
    </div>
    <div class="row">
      <table class="striped">
        <tbody>
          <% @secondary_info_hash.each do |k,v| %>
            <%= render partial: 'info_table', locals: { k: k, v: v } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= render partial: 'properties/explanations' %>

<%= link_to @return_path, class: 'waves-effect waves-light btn', id: 'back_btn' do %>
  <i class="material-icons left">arrow_back_ios</i>Back
<% end %>
