<%= form_for park_user, html: { autocomplete: 'nope' } do |f| %>
  <%= render 'form_errors', object: park_user %>

  <div class="row">
    <div class="col s12 m6 l4">
      <%= f.hidden_field :park_id %>
      <div class="input-field">
        <%= text_field_tag 'park_lkup', park_user.park&.name, class: 'autocomplete-parks', autocomplete: "off" %>
        <label for="park_lkup">Park</label>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <%= f.hidden_field :user_id %>
      <div class="input-field">
        <%= text_field_tag 'user_lkup', park_user.user&.name, class: 'autocomplete-users', autocomplete: "off" %>
        <label for="user_lkup">Person</label>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="input-field" id="select_relationship">
        <%= f.select :relationship, Constant::Park::RELATIONSHIPS, include_blank: true %>
        <label for="park_user_relationship">Relationship</label>
      </div>
    </div>
  </div>

  <div class="row center-align">
    <div class="col m6">
      <%= f.submit class: 'btn green' %>
    </div>
    <div class="col m6">
      <%= link_to 'Cancel', @return_path, class: 'btn red lighten-1', 'data-turbolinks'=> 'false' %>
    </div>
  </div>
<% end %>
