<%= form_for skill do |f| %>
  <%= render 'form_errors', object: skill %>

  <div class="input-field">
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>
  <div class="row">
    <input type="hidden" value="0" name="skill[license_required]">
    <input type="hidden" value="0" name="skill[volunteerable]">
    <input type="hidden" value="0" name="skill[archive]">
      <div class="col s4">
        <p>
          <label>
            <input type="checkbox" value="1" name="skill[license_required]" <%= 'checked' if skill.license_required? %>>
            <span>License Required?</span>
          </label>
        </p>
      </div>
      <div class="col s4">
        <p>
          <label>
            <input type="checkbox" value="1" name="skill[volunteerable]" <%= 'checked' if skill.volunteerable? %>>
            <span>Volunteer-able?</span>
          </label>
        </p>
      </div>
      <div class="col s4">
        <p>
          <label>
            <input type="checkbox" value="1" name="skill[archive]" <%= 'checked' if skill.discarded? %> <%= 'disabled' if skill.new_record? %>>
            <span>Archive Skill</span>
          </label>
        </p>
      </div>
    </div>
  </div>

  <div class="row center-align">
    <div class="col m6">
      <%= f.submit class: 'btn green' %>
    </div>
    <div class="col m6">
      <%= link_to 'Cancel', @return_path, class: 'btn red lighten-1' %>
    </div>
  </div>
<% end %>
