<div class="row valign-wrapper">
  <div class="col s10">
    <h1>Skills</h1>
  </div>
  <div class="col s2">
    <%= link_to '<i class="material-icons">add</i>'.html_safe, new_skill_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2' %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Requires license?</th>
      <th>Volunteer?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.license_required? ? 'Yes' : 'No' %></td>
        <td><%= skill.volunteerable? ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to skill, class: 'btn-floating btn-small green', 'data-turbolinks'=> 'false' do  %>
            <i class="material-icons">arrow_forward</i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_skill_path(skill), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do  %>
            <i class="material-icons">edit</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
