<div class="row valign-wrapper">
  <div class="col s10">
    <h1>Skills</h1>
  </div>
  <div class="col s2">
    <%= link_to '<i class="material-icons">add</i>'.html_safe, new_skill_path, class: 'btn-floating btn-large waves-effect waves-light green darken-2' %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Requires license?</th>
      <th>Can be done by volunteers?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.license_required? ? 'Yes' : 'No' %></td>
        <td><%= skill.volunteerable? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
