<div class="row">
  <div class="col s10">
    <h4><%= @skill.name %></h4>
  </div>
  <div class="col s2">
    <%= link_to edit_skill_path(@skill), class: 'btn-floating waves-effect waves-light blue darken-2', 'data-turbolinks'=> 'false' do  %>
      <i class="material-icons">edit</i>
    <% end %>
  </div>
</div>

<div class="row section">
  <div class="col s12">
    <h5>People with skill:</h5>
  </div>
  <div class="col s12">
    <% if @skill_users.any? %>
      <table class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Skill assigned</th>
          </tr>
        </thead>
        <tbody>
          <% @skill_users.each do |su| %>
            <tr>
              <td>
                <% if current_user.staff? %>
                  <%= link_to user_path(su.user), class: 'waves-effect waves-light btn-flat' do %>
                    <i class="material-icons left">visibility</i>
                    <%= su.user.name %>
                  <% end %>
                <% else %>
                  <%= su.user.name %>
                <% end %>
              </td>
              <td><%= human_date(su.created_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>None</p>
    <% end %>
  </div>
</div>

<div class="row section">
  <div class="col s12">
    <h5>Tasks needing skill:</h5>
  </div>
  <div class="col s12 center-align">
    <% if @skill_tasks.any? %>
      <table class="striped">
        <thead>
          <tr>
            <th>Task</th>
            <th>Skill assigned</th>
          </tr>
        </thead>
        <tbody>
          <% @skill_tasks.each do |tu| %>
            <tr>
              <td>
                <% if current_user.staff? %>
                  <%= link_to task_path(tu.task), class: 'waves-effect waves-light btn-flat' do %>
                    <i class="material-icons left">visibility</i>
                    <%= tu.task.title %>
                  <% end %>
                <% else %>
                  <%= tu.task.title %>
                <% end %>
              </td>
              <td><%= human_date(tu.created_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>None</p>
    <% end %>
  </div>
</div>
