<div class="row">
  <div class="col s12">
    <h4>People with <%= @skill.name %> skill:</h4>
  </div>
</div>
<%= form_tag update_users_skill_path(@skill) do %>
  <table class="striped">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.name %>
          </td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox" class="lever_input" id="<%= user.id %>" <%= 'checked' if @skill.users.include? user %>>
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= hidden_field_tag 'skill[add_users]', nil, id: 'add' %>
  <%= hidden_field_tag 'skill[remove_users]', nil, id: 'remove' %>
  <div class="row center-align section">
    <div class="col m6">
      <%= submit_tag 'Save skills', class: 'btn green' %>
    </div>
    <div class="col m6">
      <%= link_to 'Cancel', @return_path, class: 'btn red lighten-1' %>
    </div>
  </div>
<% end %>
