<%= form_for payment, html: { autocomplete: 'nope' } do |f| %>
  <%= render 'form_errors', object: payment %>

  <div class="row center-align form-inputs">
    <input type="hidden" value="0" name="payment[send_email_reminders]">
    <div class="col s12 m6 input-field">
      <p>
        <label for='payment_send_email_reminders'>
          <input type="checkbox" value="1" name="payment[send_email_reminders]" id="payment_send_email_reminders">
          <span>Send email reminders?</span>
        </label>
      </p>
    </div>

    <div class="col s12 m6 input-field">
      <p>
        <label for='suppress_system_alerts'>
          <input type="checkbox" value="1" name="payment[suppress_system_alerts]" id="payment_suppress_system_alerts">
          <span>Suppress system alerts?</span>
        </label>
      </p>
    </div>
  </div>

  <div id="to_checkboxes" class="row center-align form-inputs">
    <div class="col s12">
      <% if @to_organization %>
        <%= f.hidden_field :paid_to, { value: 'organization', disabled: true } %>
        <h4>Payment from:</h4>
      <% else %>
        <%= f.hidden_field :paid_to %>
        <h4>Pay to:</h4>
      <% end %>
    </div>

    <div class="col s6 m3 input-field">
      <p>
        <label for="to_utility_opt">
          <input type="checkbox" value="1" id="to_utility_opt" <%= 'checked' if @to_utility %>>
          <span class='hidden-field-setter'>Utility</span>
        </label>
      </p>
    </div>

    <div class="col s6 m3 input-field">
      <p>
        <label for="to_park_opt">
          <input type="checkbox" value="1" id="to_park_opt" <%= 'checked' if @to_park %>>
          <span class='hidden-field-setter'>Park</span>
        </label>
      </p>
    </div>

    <div class="col s6 m3 input-field">
      <p>
        <label for="to_contractor_opt">
          <input type="checkbox" value="1" id="to_contractor_opt" <%= 'checked' if @to_contractor %>>
          <span class='hidden-field-setter'>Contractor</span>
        </label>
      </p>
    </div>

    <div class="col s6 m3 input-field">
      <p>
        <label for="to_client_opt">
          <input type="checkbox" value="1" id="to_client_opt" <%= 'checked' if @to_client %>>
          <span class='hidden-field-setter'>Client</span>
        </label>
      </p>
    </div>
  </div>

  <div class="row center-align form-inputs" id="to_select_fields">
    <div id="to_utility" class="input-field col s12 to_toggle">
      <%= f.select :utility, @utilities, selected: payment.utility&.id, include_blank: true %>
      <label for="payment_utility">Utility</label>
    </div>

    <div id="to_park" class="input-field col s12 to_toggle">
      <%= f.select :park, @parks, selected: payment.park&.id, include_blank: true %>
      <label for="payment_park">Park</label>
    </div>

    <div id="to_contractor" class="input-field col s12 to_toggle">
      <%= f.select :contractor, @contractors, selected: payment.contractor&.id,include_blank: true %>
      <label for="payment_contractor">Contractor</label>
    </div>

    <div id="to_client" class="input-field col s12 to_toggle">
      <%= f.select :client, @clients, selected: payment.client&.id,include_blank: true %>
      <label for="payment_client">Client</label>
    </div>
  </div>

  <div id="for_checkboxes" class="row center-align form-inputs">
    <%= f.hidden_field :on_behalf_of %>
    <h4>On behalf of:</h4>

    <div class="col s6 m3 offset-m3 input-field">
      <p>
        <label for="for_client_opt">
          <input type="checkbox" value="1" id="for_client_opt" <%= 'checked' if @for_client %>>
          <span class='hidden-field-setter'>Client</span>
        </label>
      </p>
    </div>

    <div class="col s6 m3 input-field">
      <p>
        <label for="for_property_opt">
          <input type="checkbox" value="1" id="for_property_opt" <%= 'checked' if @for_property %>>
          <span class='hidden-field-setter'>Property</span>
        </label>
      </p>
    </div>
  </div>

  <div class="row center-align form-inputs" id="for_select_fields">
    <div class="col s12 input-field">
      <div id="for_client" class="input-field for_toggle">
        <%= f.select :client, options_for_select(@clients, [ payment.client&.name, payment.client&.id ]), { include_blank: true }, { id: 'payment_client_obo', name: 'payment[client_id_obo]' } %>
        <label for="payment_client_obo">Client</label>
      </div>

      <div id="for_property" class="input-field for_toggle">
        <%= f.select :property, @properties, selected: payment.property&.id, include_blank: true %>
        <label for="payment_property">Property</label>
      </div>
    </div>
  </div>

  <div class="row form-inputs">
    <div class="col s12">
      <div class="input-field">
        <%= text_field_tag 'task_lkup', payment.task&.title, class: 'autocomplete-tasks', autocomplete: 'off' %>
        <label for="task_lkup">Task</label>
        <%= f.hidden_field :task_id %>
      </div>
    </div>

    <div class="col s12 input-field">
      <%= f.text_field :notes %>
      <label for='payment_notes'>Notes</label>
    </div>
  </div>

  <div class="row center-align form-inputs" id="money_div">
    <h4>Cost:</h4>
    <div class="col s12 m4 input-field">
      <%= f.text_field :bill_amt %>
      <label for="payment_bill_amt">Bill $</label>
    </div>
    <div class="col s12 m4 input-field">
      <%= f.text_field :payment_amt %>
      <label for="payment_payment_amt">Payment $</label>
    </div>
    <div class="col s12 m4 input-field">
      <%= f.select :method, Constant::Payment::METHODS, include_blank: true %>
      <label for="payment_method">Payment method</label>
    </div>
  </div>

  <div class="row center-align form-inputs" id="date_div">
    <h4>Dates:</h4>
    <div class="col s12 m4 input-field">
      <%= f.text_field :received, value: human_date(payment.received), class: 'datepicker' %>
      <label for='payment_received'>Received on</label>
    </div>
    <div class="col s12 m4 input-field">
      <%= f.text_field :due, value: human_date(payment.due), class: 'datepicker' %>
      <label for='payment_due'>Due on</label>
    </div>
    <div class="col s12 m4 input-field">
      <%= f.text_field :paid, value: human_date(payment.paid), class: 'datepicker' %>
      <label for='payment_paid'>Paid on</label>
    </div>
  </div>

  <div class="row center-align form-inputs" id="utility_div">
    <h4>Utility info:</h4>

    <div class="col s12 m4 input-field">
      <%= f.select :utility_type, Constant::Utility::TYPES, include_blank: true %>
      <label for="payment_utility_type">Type</label>
    </div>

    <div class="col s12 m4 input-field">
      <%= f.text_field :utility_account %>
      <label for="payment_utility_account">Account #</label>
    </div>

    <div class="col s12 m4 input-field">
      <%= f.text_field :utility_service_started, value: human_date(payment.utility_service_started), class: 'datepicker' %>
      <label for="payment_utility_service_started">Service start date</label>
    </div>
  </div>

  <div class="row center-align valign-wrapper form-inputs">
    <input type="hidden" value="0" name="payment[recurring]">
    <div class="col m6">
      <h4>Recurring</h4>
    </div>

    <div class="col m4 input-field">
      <p>
        <label for="payment_recurring">
          <input type="checkbox" value="1" name="payment[recurring]" id="payment_recurring" <%= 'checked' if payment.recurring %>>
          <span class="recurrence-setter">Make recurring?</span>
        </label>
      </p>
    </div>

  </div>

  <div class="row" id="recurrence_div">
    <div class="col s12 input-field">
      <%= f.select :recurrence, Constant::Payment::RECURRENCE, include_blank: true %>
      <label for="payment_recurrence">Repeat every</label>
    </div>
    <div class="col s12 field_with_errors" id="recurrence_no_paid">A new payment will not be created until this payment has a "Paid on" date.</div>
    <div class="col s12 field_with_errors" id="recurrence_no_due">A "Due on" date is needed to make this payment recurring.</div>
  </div>

  <div class="row center-align form-actions valign-wrapper">
    <input type="hidden" value="0" name="payment[archive]">
    <% unless payment.new_record? %>
      <div class="col m4 input-field">
        <p>
          <label for="payment_archive">
            <input type="checkbox" value="1" name="payment[archive]" id="payment_archive" <%= 'checked' if payment.discarded_at.present? %>>
            <span>Archive?</span>
          </label>
        </p>
      </div>
    <% end %>
    <div class="col m4">
      <%= f.submit class: 'btn green' %>
    </div>
    <div class="col m4">
      <%= link_to 'Cancel', @return_path, class: 'btn red lighten-1' %>
    </div>
  </div>
<% end %>
