<tr class="payment-row">
  <td class="hide-on-small-only">
    <% if payment.past_due? %>
      <span class="btn-floating red lighten-2">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Past due!">error_outline</i>
      </span>
    <% end %>
  </td>
  <td><%= payment.status %></td>
  <td>
    <% if payment.to.is_a? Organization %>
      <%= payment.to.name %>
    <% else %>
      <%= link_to payment.to.name, payment.to %>
    <% end %>
  </td>
  <td>
    <%= link_to payment.for.name, payment.for %>
  </td>
  <td><%= payment.utility_type&.capitalize %></td>
  <td><%= payment.bill_amt.format %></td>
  <td><%= human_boolean(payment.recurring) %></td>
  <td class="slim">
    <%= link_to payment_path(payment), class: 'btn-floating btn-small green', 'data-turbolinks'=> 'false' do  %>
          <i class="material-icons">arrow_forward</i>
        <% end %>
  </td>
  <td class="slim">
    <%= link_to edit_payment_path(payment), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do  %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
