<li id="tasks_past_due" class='collection-item red lighten-3 waves-effect waves-light'>
  <%= link_to tasks_user_path(current_user, filter: 'past-due') do %>
    <span class='red-text'></span>
  <% end %>
</li>
<li id="payments_past_due" class='collection-item red lighten-3 waves-effect waves-light'>
  <%= link_to payments_path do %>
    <span class='red-text'></span>
  <% end %>
</li>
<li id="properties_over_budget" class='collection-item red lighten-3'>
  <%= link_to list_properties_path(filter: 'over') do  %>
    <span class='red-text'></span>
  <% end %>
</li>
<li id="properties_nearing_budget" class='collection-item orange lighten-5'>
  <%= link_to list_properties_path(filter: 'near') do  %>
    <span class='orange-text'></span>
  <% end %>
</li>
<li id="tasks_due_7" class='collection-item amber lighten-5'>
  <%= link_to tasks_user_path(current_user, filter: 'due-7') do  %>
    <span class='amber-text text-darken-2'></span>
  <% end %>
</li>
<li id="payments_due_7" class='collection-item amber lighten-5'>
  <%= link_to payments_path do  %>
    <span class='amber-text text-darken-2'></span>
  <% end %>
</li>
<li id="tasks_missing_info" class='collection-item yellow lighten-5'>
  <%= link_to tasks_user_path(current_user, filter: 'missing-info') do %>
    <span class='yellow-text text-darken-3'></span>
  <% end %>
</li>
<li id="tasks_due_14" class='collection-item green lighten-5'>
  <%= link_to tasks_user_path(current_user, filter: 'due-14') do %>
    <span class='green-text'></span>
  <% end %>
</li>
<li id="payments_due_14" class='collection-item green lighten-5'>
  <%= link_to payments_path do %>
    <span class='green-text'></span>
  <% end %>
</li>
<li id="tasks_new" class='collection-item green lighten-5'>
  <%= link_to tasks_user_path(current_user, filter: 'new') do %>
    <span class='green-text'></span>
  <% end %>
</li>

