<tr>
  <td class="hide-on-small-only">
    <% if payments_table.past_due? %>
      <span class="btn-floating red lighten-2">
        <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Past due!">error_outline</i>
      </span>
    <% end %>
  </td>
  <td><%= payments_table.utility_type.capitalize %></td>
  <td><%= payments_table.bill_amt.format %></td>
  <td><%= payments_table.status %></td>
  <td>
    <% if source == payments_table.for.class.name %>
      <%= link_to payments_table.to.name, payments_table.to %>
    <% else %>
      <%= link_to payments_table.for.name, payments_table.for %>
    <% end %>
  </td>
  <td><%= human_boolean(payments_table.recurring) %></td>
  <td class="slim">
    <%= link_to payment_path(payments_table), class: 'btn-floating btn-small green', 'data-turbolinks'=> 'false' do  %>
          <i class="material-icons">arrow_forward</i>
        <% end %>
  </td>
  <td class="slim">
    <%= link_to edit_payment_path(payments_table), class: 'btn-floating btn-small blue darken-2', 'data-turbolinks'=> 'false' do  %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
