<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
      </div>
      <% if current_user.oauth? %>
        <%= image_tag current_user.oauth_image_link, class: "circle"  %>
      <% else %>
        <i class="material-icons white-text no-pic">account_circle</i>
      <% end %>
      <span class="white-text name">
        <%= current_user.name %>
      </span>
      <span class="white-text email">
        <%= current_user.email %>
      </span>
    </div>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <%= link_to edit_user_path(current_user), 'data-turbolinks'=> 'false' do %>
          <i class="material-icons">account_box</i>
          <span>Profile</span>
        <% end %>
      </li>
    </ul>
  </li>

  <li>
    <%= link_to tasks_user_path(current_user), 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">ballot</i>
      <span>My Tasks</span>
    <% end %>
  </li>

  <% if current_user.staff? %>
    <li>
      <%= link_to tasks_path, 'data-turbolinks'=> 'false' do %>
        <i class="material-icons">format_list_bulleted</i>
        <span>All Tasks</span>
      <% end %>
    </li>
  <% end %>

  <li>
    <%= link_to properties_path, 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">home</i>
      <span>Properties</span>
    <% end %>
  </li>

  <% if current_user.staff? %>
    <li>
      <%= link_to default_properties_path, 'data-turbolinks'=> 'false' do %>
        <i class="material-icons">menu</i>
        <span>Default Tasklist</span>
      <% end %>
    </li>
  <% end %>

  <% if current_user.system_admin? %>
    <li>
      <%= link_to users_path, 'data-turbolinks'=> 'false' do %>
        <i class="material-icons">people</i>
        <span>People</span>
      <% end %>
    </li>

    <li>
      <%= link_to skills_path, 'data-turbolinks'=> 'false' do %>
        <i class="material-icons">build</i>
        <span>Skills</span>
      <% end %>
    </li>
  <% end %>

  <li>
    <%= link_to reports_properties_path, 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">table_chart</i>
      <span>Reports</span>
    <% end %>
  </li>
  <li>
    <%= link_to root_path, 'data-turbolinks'=> 'false' do %>
      <i class="material-icons">apps</i>
      <span>Public Tasks</span>
    <% end %>
  </li>
</ul>
