-# frozen_string_literal: true
!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title PromiseTasks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'true'
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel:"stylesheet"}
  %body
    %nav.blue.nav-extended
      .nav-wrapper
        = link_to 'PromiseTasks', root_path, class: "brand-logo fixed"
        - if current_user
          %ul#nav_mobile.right
            %li
              = "#{current_user.name} (#{current_user.email})"
            %li
              = link_to out_path, class: 'waves-effect waves-light btn tooltipped', data: { position: 'bottom', tooltip: 'Logout' } do
                %i.material-icons login
    %main.container
      = yield
    %footer.page-footer.purple.lighten-1
      - if current_user
        = link_to user_path(current_user), method: :delete, class: 'waves-effect waves-light btn tooltipped right red accent-4', data: { position: 'top', tooltip: 'Delete account.', confirm: 'Are you sure? This will delete your Auto Tasks. It will not delete your Tasklists.' } do
          %i.material-icons delete_forever
  - flash.each do |message_type, message|
    = javascript_tag "M.toast({html: '#{message}'})"
