<!DOCTYPE html>
<html>
  <head>
    <title>Promisetasks</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>" data-user="<%= current_user&.id || 0 %>">
    <header class="navbar-fixed" id="navbar" data-turbolinks-permanent>
      <%= render partial: 'layouts/navbar' %>
    </header>
    <ul id="context_alerts" class="dropdown-content collection right">
      <% if current_user %>
        <%= render partial: 'alerts' %>
      <% end %>
    </ul>
    <aside id="sidebar" data-turbolinks-permanent>
      <% if current_user %>
        <%= render partial: 'layouts/sidebar' %>
      <% end %>
    </aside>
    <main>
      <% flash.each do |message_type, message| %>
        <%= javascript_tag "M.toast({html: '#{message}'})" %>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="col s3 offset-s9">
            <%= render partial: 'layouts/progress_bar' %>

          </div>
        </div>
        <%= yield %>
      </div>
    </main>
    <footer id="footer">
      <% if Rails.env.development? %>
        <%= params.inspect %> <br>
        Return path: <%= @return_path %> |
        Previous: <%= @view_previous %> |
        Pre-previous: <%= @view_pre_previous %>
      <% end %>
      <% if current_user %>
        <%= render partial: 'layouts/footer' %>
      <% end %>
    </footer>
  </body>
</html>
